.fixedNav{
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: var(--DarkBlue);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

i{
    color: white;
 
}
.fixedHead{
    color: white;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
}